:root {
  --jet: #2e2e2e;
  --accent: #7eb09b;
  --bg: #f7f9fa;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg);
  color: var(--jet);
  line-height: 1.6;
  font-size: 115%;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--accent);
}

button {
font-family: inherit;
background: none;
border: none;
cursor: pointer;
}

.section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}
